@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --main-color:#16a085;
    --red:#eb4d4b;
    --orange:#f39c12;
    --black:#130f40;
    --light-color:#999;
    --light-bg:#eee;
    --white:#fff;
    --border:.1rem solid rgba(0, 0, 0, .2);
    --box-shadow:0 .5rem 1rem rgba(0, 0, 0, .1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: none;
    text-decoration: none !important;
    font-family: "Comfortaa", sans-serif;
    scrollbar-color: var(--main-color) --black;
    scrollbar-width: thin;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--light-bg);
}

section{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-bottom: 2rem;
    margin-bottom: 2.5rem;
    border-bottom: var(--border);
}

.heading h1{
    font-size: 2.5rem;
    color: var(--black);
    text-transform: capitalize;
}

.empty{
    font-size: 1.8rem;
    color: var(--red);
    background: var(--white);
    width: 100%;
    text-align: center;
    padding: 1.5rem;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.btn,
.delete-btn,
.logout-btn,
.option-btn{
    display:block !important;
    width: 100% !important;

}

.inline-btn,
.inline-delete-btn,
.inline-option-btn{
    display:inline-block !important;
}

.btn,
.delete-btn,
.logout-btn,
.option-btn,
.inline-btn,
.inline-delete-btn,
.inline-option-btn{
    font-size: 1.8rem;
    color: var(--white) !important;
    margin-top: 1rem;
    text-align: center;
    padding: 1rem 3rem;
    border: var(--border);
    border-radius: .5rem;
    cursor: pointer;
    color: var(--white) !important;
    text-transform: capitalize;
}


.btn:hover,
.delete-btn:hover,
.logout-btn:hover,
.option-btn:hover,
.inline-btn:hover,
.inline-delete-btn:hover,
.inline-option-btn:hover{
    background: var(--black) !important;
}



.btn,
.inline-btn{
    background: var(--main-color) !important;
}

.logout-btn,
.delete-btn,
.inline-delete-btn{
    background: var(--red) !important;
}

.option-btn,
.inline-option-btn{
    background: var(--orange) !important;
}


.flex-btn{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    justify-content: space-between;
    flex-wrap: wrap;
}


.page{
    font-size: 2rem;
}
  
.page nav{
    margin: auto;

}
  
  .page-item .page-link{
    padding: .7rem 1.5rem;
}

  .justify-content-sm-between{
    justify-content: center !important;
    gap: 1rem;
    flex-direction: column-reverse;
}



/* header */

.header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: var(--black);
    z-index: 1000;
}

.header .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header .flex .logo{
    font-size: 2.5rem;
    color: var(--orange);
}

.header .flex .navbar #user-btn,
.header .flex .navbar a{
    font-size: 2rem;
    color: var(--black);
    background: var(--white);
    width: 4.5rem;
    height: 4.2rem;
    line-height: 4.2rem;
    text-align: center;
    margin-left: 0.5rem;
    border-radius: .5rem;
    cursor: pointer;
}

.header .flex .navbar #user-btn:hover,
.header .flex .navbar a:hover{
    background: var(--main-color);
    color: var(--white);
}

.header .flex .profile{
    position: absolute;
    top: 120%;
    right: 2rem;
    padding: 2rem;
    width: 30rem;
    background: var(--white);
    text-align: center;
    border: var(--border);
    border-radius: .5rem;
    overflow: hidden;
    transform: scale(0);
    transform-origin: top right;
}

.header .flex .profile.active{
    transform: scale(1);
    transition: .2s linear;
}

.header .flex .profile p{
    font-size: 1.8rem;
    color: var(--light-color);
    text-overflow: ellipsis;
    padding-bottom: 0.5rem;
}


.header .flex .profile .image{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1.5rem;
}

/* account-form */

.account-form form{
    max-width: 50rem;
    margin: 0 auto;
    padding: 2rem;
    background: var(--white);
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.account-form form h3{
    font-size: 2.5rem;
    color: var(--black);
    text-transform: capitalize;
    padding-bottom: 1rem;
    text-align: center;
}


.account-form form p{
    font-size: 1.6rem;
    color: var(--light-color);
    padding-top: 1rem;
    margin-bottom: 0;
}

.account-form form  p span{
    color: var(--red);
}

.account-form form .box{
    width: 100%;
    padding: 1.4rem;
    margin: 1rem 0;
    font-size: 1.8rem;
    color: var(--black);
    background: var(--light-bg);
    border-radius: .5rem;
}


.account-form form textarea{
    height: 15rem;
    resize: none;
}

.account-form form .link{
    font-size: 1.6rem;
    color: var(--light-color);
    text-align: center;
    padding: 1rem 0;
}

.account-form form .link a{
    color: var(--red);
}

.account-form form .link a:hover{
    text-decoration: underline !important;
}

.account-form form .image{
    width: 100%;
    height: 20rem;
    object-fit: contain;
    margin: 1rem 0;
}


/* all-posts */

.all-posts .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
}


.all-posts .box-container .box{
    padding: 2rem;
    background: var(--white);
    border: var(--border);
    border-radius: .5rem;
}

.all-posts .box-container .box .image{
    width: 100%;
    height: 20rem;
    border-radius: .5rem;
    object-fit: cover;
    margin-bottom: 1.5rem;
}


.all-posts .box-container .box .title{
    font-size: 2rem;
    color: var(--black);
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.all-posts .box-container .box .total_reviews{
    font-size: 1.7rem;
    padding: 1rem 0;
}

.all-posts .box-container .box .total_reviews i{
    color: var(--orange);
}

.all-posts .box-container .box .total_reviews span{
    color: var(--light-color);
}


/* view-post */

.view-post .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    background: var(--white);
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: .5rem;
    padding: 2rem;
}


.view-post .row .col{
    flex: 1 1 40rem;
}

.view-post .row .col .image{
    width: 100%;
    height: 30rem;
    border-radius: .5rem;
    object-fit: cover;
    margin-bottom: 1.5rem;
}

.view-post .row .col .title{
    font-size: 2rem;
    color: var(--black);
}

.view-post .row .col .flex{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: space-evenly;
}


.view-post .row .col .flex .total_reviews{
    text-align: center;

}

.view-post .row .col .flex .total_reviews h3{
    font-size: 2.5rem;
    color: var(--black);
    display: inline-block;
    padding-right: 1.7rem;
}


.view-post .row .col .flex .total_reviews .stars {
    position: relative;
    display: inline-block;
    font-size: 3.5rem;  
}

.view-post .row .col .flex  .total_reviews .stars-full {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    color: var(--orange); 
}

.view-post .row .col .flex .total_reviews .stars-empty {
    color: #ddd; 
}


.view-post .row .col .flex .total_reviews p{
    font-size: 1.8rem;
    color: var(--light-color);
    padding-top: 1rem;
}

.view-post .row .col .flex .total-rating{
    font-size: 2rem;
}

.view-post .row .col .flex .total-rating p{
    padding: 0.3rem 0;
    margin: 0;
}

.view-post .row .col .flex .total-rating p i{
    color: var(--orange);
}


/* reviews-container */

.reviews-container .box-container{
    display: grid;
    row-gap: 3rem;
    background: var(--white);
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: .5rem;
    padding: 2rem;
}

.reviews-container .box-container .box{
    border-bottom: var(--border);
    overflow-x: hidden;
    padding-bottom: 1.5rem;
    position: relative;
}

.reviews-container .box-container .box .user{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.reviews-container .box-container .box .user img{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    object-fit: cover;
}

.reviews-container .box-container .box .user h3{
    font-size: 2.5rem;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: var(--light-bg);
    text-transform: uppercase;
    text-align: center;
    line-height: 6.5rem;
}

.reviews-container .box-container .box .user p{
    font-size: 1.8rem;
    color: var(--black);
    text-overflow: ellipsis;
    overflow-x: hidden;
    padding-bottom: 0.3rem;
}

.reviews-container .box-container .box .user span{
    color: var(--light-color);
    font-size: 1.5rem;
}

.reviews-container .box-container .box .ratings{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: .5rem;
    color: var(--white);
    z-index: 10;
}


.reviews-container .box-container .box .ratings p{
    color: var(--white);
    border-radius: .5rem;
    padding: 0.5rem 1rem;
}

.reviews-container .box-container .box .ratings p i{
    font-size: 1.5rem;
}

.reviews-container .box-container .box .ratings p span{
    font-size: 2rem;
}

.reviews-container .box-container .box .title{
    font-size: 2rem;
    color: var(--black);
    padding: 0.5rem 0;
}

.reviews-container .box-container .box .description{
    font-size: 1.6rem;
    color: var(--light-color);
    white-space: pre-line;
    line-height: 1.5;
}



/* media query */

@media screen and (max-width: 991px) {
    
    html{
        font-size: 55%;
    }
}

@media screen and (max-width: 768px) {
    
        
    .page .pagination{
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        gap: .4rem;
        justify-content: center;
    }
}

@media screen and (max-width: 450px) {
    
    html{
        font-size: 50%;
    }

    
    /* all-posts */

    .all-posts .box-container{
        grid-template-columns: 1fr;       
    }

    /* view-post */
    .view-post .row .col .image{
        height: 20rem;
    }
}